@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.service-section-heading {
    color: #183b56;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 26px;
}

.service-section-disceription {
    color: #616c7c;
    font-size: 18px;
    font-family: "Roboto";
}

.card-image {
    width: 120px;
}

.card-heading {
    color: #1f2933;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 26px;
}

.card-discription {
    color: #616c7c;
    font-size: 18px;
    font-family: "Roboto";
}
